/* Estilos para la barra de navegación */
.navbar {
    background-color: black;
    color: white;
  }
  
  .navbar-brand {
    color: #ffffff;
    font-weight: bold;
  }
  
  .navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .nav-item {
    margin-right: 10px;
  }
  
  .nav-link {
    color: #ffffff;
    text-decoration: none;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  .navbar-nav li {
    list-style-type: none;
  }
  .navbar-nav {
    display: flex;
    align-items: center;
  }
  
  .navbar-nav li {
    margin-right: 10px;
  }
  
  