<div *ngIf="!loggedIn" class="container">

  <div class="form-container">

  <form (ngSubmit)="iniciarSesion()">
    <div>
      <label for="nombreUsuario">Nombre Usuario:</label>
      <input type="text" id="nombreUsuario" [(ngModel)]="nombreUsuario" name="nombreUsuario" required>
    </div>
    <div>
      <label for="password">contraseña:</label>
      <input type="text" id="password" [(ngModel)]="password" name="password" required>
    </div>
    <button type="submit" [disabled]="nombreUsuario === '' ">Guardar</button>
  </form>

  <div *ngIf="mensajeGuardado!=''" class="mensaje-exito">
    {{mensajeGuardado}}
  </div>
</div>

</div>