<div *ngIf="!loggedIn">
    <h2>Iniciar Sesión</h2>
<form (ngSubmit)="iniciarSesion()">
  <div>
    <label for="nombreUsuario">NombreUsuario:</label>
    <input type="text" id="nombreUsuario" [(ngModel)]="nombreUsuario" name="nombreUsuario" required>
  </div>
  <div>
    <label for="password">contraseña:</label>
    <input type="text" id="password" [(ngModel)]="password" name="password" required>
  </div>
  <button type="submit" [disabled]="nombreUsuario === '' ">Guardar</button>
</form>

<div *ngIf="mensajeGuardado!=''" class="mensaje-exito">
  {{mensajeGuardado}}
</div>

  </div>
  